name: 'unit-test'
on:
  push:
    paths-ignore:
      # We don't want updates to README.md and other markdown documentation
      # to trigger this action.  Feel free to adjust if some markdown would actually
      # affect how this modules behaves.
      - '*.md'
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }} @ deploy'
  cancel-in-progress: true
jobs:
  execute:
    name: 'validate-${{ matrix.tofu-version }}'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tofu-version: ['1.7', '1.8']
    defaults:
      run:
        shell: bash
    steps:
      - name: 'checkout'
        uses: actions/checkout@v3
      - uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: ${{ matrix.tofu-version }}
      - name: 'validate'
        run: |
          # The SSH key is not required to be in the repo and will only make a difference
          # if this module accesses other private modules.
          mkdir -p "${HOME}/.ssh" \
            && echo "${{secrets.TF_TESTABLE_MODULE_SSH_KEY}}" > "${HOME}/.ssh/id_rsa" \
            && chmod 400 "${HOME}/.ssh/id_rsa"
          ls -l "${HOME}/.ssh/id_rsa"
          make unit-test
